Package: rhasspy-fuzzywuzzy-hermes
Version: ${version}
Section: utils
Priority: optional
Architecture: ${architecture}
Maintainer: Michael Hansen
Description: Hermes MQTT service for Rhasspy intent recognition with fuzzywuzzy
